@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700|Roboto:400,700&display=swap');

body {
	font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
	line-height:1.2;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:bold;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
a {
    text-decoration: none;
    color:#666;
}
img{vertical-align: top;}

/****** header ******/
header{
    width:100%;
    height:90px;
    margin:0 auto;               
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    background-color:#fff;
}
header.on{
    border-bottom: 4px solid  #eb6100;
}
header > h1{
    width:108px;
    padding:10px 70px 10px 45px;
    float:left;
}
header > h1 >*{display:block;}
.gnb{
    position: relative;
}
.gnb > ul{
    float:left;
}
.gnb > ul > li{
    /* width:104px;  */
    float: left
}
.gnb > ul > li > a{
    display:inline-block;
    font-size:18px;
    font-weight: 400;
    color:#111;
    text-align: center;
    padding:0 30px;
    line-height: 90px;
}
.gnb > ul > li .nav_sub{ display: none;}
.gnb > ul > li .nav_sub.opened{
    display: block;
    position: fixed;
    top:94px;
    left:0;
    width:100%;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    overflow:hidden;
} 
.gnb > ul > li .nav_sub.opened > .introduce {
    width:320px;
    padding: 45px 30px 25px 50px;
    position: relative;
    float:left;
    height:200px;
}
.gnb > ul > li .nav_sub.opened > .introduce > h3{
    font-size: 26px;
    color: #111;
    margin-bottom: 30px;
}
.gnb > ul > li .nav_sub.opened > .introduce > p{
    font-size: 15px;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}
.gnb > ul > li .nav_sub.opened > .introduce  > span{
    display:block;
    background-image:url('../images/img_introduce.png');
    position: absolute;
    right:25px;
    bottom:25px;    
    width:85px;
    height:74px;
}  
.gnb .nav_sub.opened > ul{
    overflow: hidden;
    float:left;
}
.gnb .nav_sub.opened > ul > li > h3 {
    margin-bottom: 30px;
}
.gnb .nav_sub.opened > ul > li > h3 > a{
    font-size: 17px;
    color: #444;
    font-weight: 500;
}
.gnb .nav_sub.opened > ul > li{
    float:left;
    width:180px;
    border-left: 1px solid #dfdfdf;
    padding-top:45px;
    padding-left:30px;
    height:225px;
}
.gnb .nav_sub.opened > ul > li .inner_sub li > a{
    font-size: 15px;
    color: #888;
    line-height: 2.4;
}
/* gnb안에 nav_sub hover */
.gnb .nav_sub.opened > ul > li:hover{
    background-color: #eb6100;                                                                                                                                                                                                      
}
.gnb .nav_sub.opened > ul > li > ul.inner_sub > li:hover > a {
    color: rgba(255, 255, 255, 0.5);
}
.gnb .nav_sub.opened > ul > li:hover > h3 > a{
    color:#fff;
}
.gnb .nav_sub.opened > ul > li > ul.inner_sub > li:hover > a {
    color:#fff;
    text-decoration:underline;
}
/* ----------------------------------------------- */

.gnb > .gnb_member{
    float:right;
    position: absolute;
    right:0;
    top:0;
}
.gnb > .gnb_member > ul{
    float: left;
    /* width:185px; */
}
.gnb > .gnb_member > ul > li{
    font-size: 13px;
    color: #999;
    display: inline-block;
    line-height: 90px;
}
.gnb > .gnb_member > ul > li:after{
    content:''; 
    display:inline-block; 
    width:1px; 
    height:10px; 
    background-color:#999; 
    margin:0 8px;

}
.gnb > .gnb_member > .language{
    float: left;
    margin:27px 20px 27px 5px;
    font-size: 13px;
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
}
.gnb > .gnb_member > .language .open{
    width:85px;
    height: 35px;
    border-radius: 30px;
    border:1px solid #999;
}
.gnb > .gnb_member > .language .open > span{
    display: block;
    padding:9px 15px; /* line-height:33px; */
    font-weight: bold;
    color:#eb6100;
    position: relative;
}
.gnb > .gnb_member > .language .open > span:after{
    content: "";
    display: inline-block;
    margin-left:20px;
    width:4px;
    height:4px;
    border-left: 2px solid #999 ;
    border-bottom: 2px solid #999;
    border-top: 0;
    border-right:0;
    transform: rotate(-45deg);
    position: absolute;
    top: 35%;
    /* border-top: 4px solid;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent; */
}
.gnb > .gnb_member > .sponsor{
    float: right;
    width:190px;
    height: 100%; 
    transition: all .15s linear;
}
.gnb > .gnb_member > .sponsor > h3{
    width: 190px;
    height: 90px;
    text-align: center;
}
.gnb > .gnb_member > .sponsor > h3 > a{
    display:block;
    color:#fff;
    line-height:90px;
    font-weight: 500;
    background-color: #eb6100;
    font-size: 22px;
}
.gnb > .gnb_member > .sponsor > h3 > a:hover{
    background-color:#144199;
    transition:all 0.15s linear ;
}
.gnb > .gnb_member > .sponsor > ul {
    display: none;
    background-color:#144199;
}
.gnb > .gnb_member > .sponsor:hover > ul{ display: block;}
.gnb > .gnb_member > .sponsor:hover > ul > li > a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
}
.gnb > .gnb_member > .sponsor:hover > ul > li > a:hover{
    background-color:#0c266e;
}
/****** contents ******/
.contents{
    max-width:100%;
}
.slide_main{
    position: relative;
    margin-top:90px;
}
.slide_main .slide{ 
    max-width:100%;
    height: 800px;
    /* padding:0 8%; */
    box-sizing: border-box;       
}
.slide_main .slide_item{
    position: relative;
}   
.slide_main .campain_01{   
    background: url('../images/1025510830_qg2iQNl9_main_pc.jpg') no-repeat center;
    background-size: cover;
}
.slide_main .campain_02{   
    background: url('../images/1025510790_DzXFsCHG_Main_PC.jpg') no-repeat right center;
}
.slide_main .campain_03{   
    background: url('../images/1025510830_b5NyEZmT_main_pc.jpg') no-repeat right center;
}
.slide_main .campain_04{   
    background: url('../images/1025510830_SxFLu89t_main_pc.jpg') no-repeat right center;
}
.slide_main .campain_05{   
    background: url('../images/1025510830_xZp8JRY3_main.jpg') no-repeat right center;
}
.slide_main .text{
    position: absolute; 
    left:120px; 
    right:120px;
    top:200px;
    display:block; 
    color:#fff; 
}
.slide_main p.btn > a {
    width: 198px;
    height: 35px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 7px 0;
    margin-top: 95px;
    color: #fff;
}
.slide_main .slide span{
    display:block; 
    font-size:18px;
    margin-bottom: 42px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.slide_main strong{
    display: block;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 78px;
}
.slide_main p{
    font-size: 16px;
    line-height: 36px;
}
.slide_main .bx-wrapper { 
    box-shadow: none;
    border:none;
    margin-bottom:0;
}
.slide_main .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom:28px;
}
.slide_main .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #eb6100;
}
.slide_main .bx-wrapper .bx-controls-direction a.bx-prev{
     width:40px;
     height: 78px;
     position: absolute;
     top:50%;
     transform:translateY(-50%);
     left:30px;
     background:url('../images/btn_arrow_slick_prev.png') no-repeat ;
     z-index:50;
}
.slide_main .bx-wrapper .bx-controls-direction a.bx-next{
     width:40px;
     height: 78px;
     position: absolute;
     top:50%;
     transform:translateY(-50%);
     right:30px;
     background:url('../images/btn_arrow_slick_next.png') no-repeat ;
     z-index:50;
}
.slide_main .bx-wrapper .bx-pager {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
}
.slide_main .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #fff;
    width:20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
}
.slide_main .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background-color:#fff;
}
.slide_main .circle_btn{
    display: none;
    text-align: center;
    margin-top:-43px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.slide_main .circle_btn > ul{
    overflow: hidden;
    display: inline-block;
}
.slide_main .circle_btn li{
    float:left;
}
.slide_main .circle_btn li > a {
    width:20px;
    height: 20px;
    margin:0 8px;
    background-color:#fff;
    border-radius: 50%;
    display: block;
}
.slide_main .circle_btn li > a:hover { background-color:#eb6100;}
.slide_main .line_box{position: relative;}
.slide_main .line_box:before{
    content:'';
    width:50%; 
    height: 5px;
    background-color:#eb6100;
    position: absolute;
    right:50%;
    bottom: 0;
    animation-name:lineleft;   
    animation: lineleft 5s ease infinite;
}
@keyframes lineleft{
    from{
       width:0;
    }
    to{
       width:50%;
    }
}
.slide_main .line_box:after{
    content:'';
    width:50%; 
    height: 5px;
    background-color:#144199;
    position: absolute;
    bottom:0;
    left:50%;
    animation-name:lineright;   
    animation: lineright 5s ease infinite;
} 
@keyframes lineright{
    from{
        width:0;
    }
    to{
        width:50%;
    }
}  
.contents .report{
    width: 100%;
    background-color:#f3f5fa;
    /* height:106px; */
}
.contents .report >.inner{
    max-width:1200px;
    padding:0 15px;
    margin:0 auto;
}
.contents .report  ul{
    overflow:hidden;
}
.contents .report  ul > li{
    float:left;
    width:25%;  /* 290px; */
    padding: 40px 0 40px 40px;
    position: relative;
    box-sizing: border-box;
}
.contents .report  ul > li+li:before{
    content:'';
    display:block;
    width:1px;
    height:24px;
    position: absolute;
    background-color:#ccc;
    top:38%;
    left:0;
}
.contents .report ul > li > a > p{
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display:inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.contents .report ul > li > a{
    text-align: center;
}
.contents .report ul > li span{
    font-size: 18px;
    color:#111;
}
.contents .report li:nth-of-type(1) > a > p{ background-image:url('../images/icon_business01.png') ;}
.contents .report li:nth-of-type(2) > a > p{ background-image:url('../images/icon_business02.png') ;}
.contents .report li:nth-of-type(3) > a > p{ background-image:url('../images/icon_business03.png') ;}
.contents .report li:nth-of-type(4) > a > p{ background-image:url('../images/icon_business04.png') ;}
.contents .report ul li{position: relative;}
.contents .report ul >li  i { font-style: normal;}
.contents .report ul > li > a:after{
    content: '';
    display:inline-block;
    width: 4px;
    height: 4px;
    border-right:2px solid #666;
    border-bottom:2px solid #666;
    transform: rotate(-45deg);
    margin-left: 25px;
    position: absolute;
    top:45%;
}
/* report hover */
.contents .report ul > li:hover {border-bottom:2px solid #eb6100;}
.contents .report ul > li:hover span {
    color: #eb6100;
}
.contents .report ul>li:hover > a:after{border-color: #eb6100;}
.contents .report li:nth-of-type(1):hover > a > p{ background-image:url('../images/icon_on_support01.png') ;}
.contents .report li:nth-of-type(2):hover > a > p{ background-image:url('../images/icon_on_support02.png') ;}
.contents .report li:nth-of-type(3):hover > a > p{ background-image:url('../images/icon_on_support03.png') ;}
.contents .report li:nth-of-type(4):hover > a > p{ background-image:url('../images/icon_on_support04.png') ;}

/****** contents_campaign ******/

.campaign{ 
    max-width:100%;
}
.campaign .inner{
    padding:100px /*5.208333%;  6% */;}
.campaign h3{
    font-size: 40px;
    font-weight: 400;
    color:#000;
    text-align:left;
    margin-left: 20px;
    margin-bottom: 40px;
}
.campaign ul{
    overflow: hidden;
}
.campaign ul > li{
    width:30.985915% ;/* 528px;  1074*/        
    padding:0 1.173708%;  /* 20px; */
    float:left;
}
.campaign .going_img{position: relative;}
.campaign .going_img img{
    width:100%;
}
.campaign .going_img p{
    width:100px;
    background-color: #f5a100;
    text-align: center;
    padding:12px 0;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top:10px;
    left:10px;
} 
.campaign ul > li div.line_bar{
    width:100%;  
    position: relative;
}
.campaign ul > li div.line_bar .all{
    content: '';
    display: block;
    width:100%; 
    height: 10px;
    background-color:#ccc;
    position: absolute;
}
.campaign ul > li div.line_bar .part{
    content: '';
    display: block;
    width:0;
    height: 10px;
    background-color:#eb6100;
    position: absolute;
}
.campaign ul > li:nth-of-type(1) div.line_bar .part.queue {
    width:71%;
    transition: All 3s ease;
}
.campaign ul > li:nth-of-type(2) div.line_bar .part.queue {
    width:40%;
    transition: All 3s ease;
}
.campaign ul > li:nth-of-type(3) div.line_bar .part.queue {
    width:60%;
    transition: All 3s ease;
}
.campaign ul > li div.line_bar span{
    position: absolute;
    top: -43px;
    left: -16px;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    width: 35px;
    height: 42px;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: url('../images/bg_d_day.png') no-repeat 0 0;
    background-size: 35px 42px;
}
.campaign ul > li:nth-of-type(1) div.line_bar span.queue{
left:67%;
transition: All 3s ease;
}
.campaign ul > li:nth-of-type(2) div.line_bar span.queue{
left:36%;
transition: All 3s ease;
}
.campaign ul > li:nth-of-type(3) div.line_bar span.queue{
left:56%;
transition: All 3s ease;
}

.campaign .child_support{
    border:1px solid #ccc;
    height: 130px;
    position: relative;
}
.campaign .child_support h4{
    width:320px;
    font-size: 20px;
    font-weight: 300;
    color:#000;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* display:none; */
}
.campaign .child_support .more.on{
    background-color:#eb6100;
    height: 130px;
    text-align:center;
    position: relative;
}

.campaign .child_support .more.on > span{
    width: 160px;
    padding:10px 0;
    display:inline-block;
    text-align: center;
    color: #fff;
    border:1px solid #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
/****** contents_gp news ******/

.contents .gp_news{
    width:100%;
    overflow:hidden;
}
.contents .gp_news div{
    float:left;
    width:33.333333%;  /* 640px; */
    position: relative;
}
.contents .gp_news div img{
    width:100%;
}
.contents .gp_news div > .btn{
    width:110px;
    height:35px;
    line-height:35px;
    color:#fff;
    position:absolute;
    top:360px;
    left:50px;
    text-align:center;
    background-color:#eb6100;
    font-size:13px;
}
.contents .gp_news div > .news_text{
    color:#fff;
    font-size:20px;
    font-weight:400;
    position: absolute;
    left:50px;
    top:415px;
    width:555px;
}
/****** content_slide ******/

.contents .content_slide{
    padding: 100px 6.25%; /* 120px; */
   
}
.contents .content_slide .campaign_review{
    background-size: cover;
   
    height: 370px;
    position: relative;
}
.contents .content_slide .item01{ background: url('../images/1025510830_h5yieVgN_main.jpg') no-repeat center;}
.contents .content_slide .item02{background: url('../images/1025510830_yGLVE68Q_main_list.jpg') no-repeat center;}
.contents .content_slide .item03{background: url('../images/1025510830_6aoStgJm_list.jpg') no-repeat center;}
.contents .content_slide .item04{background: url('../images/1025510830_L5Be2FIH_main_campaign_news_02.jpg') no-repeat center;}
.content_slide .slide_text{
    margin:0 100px;
    color:#000;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.content_slide .slide_text > span{
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 40px;
}
.content_slide .slide_text > p{
    font-size: 28px;
    line-height: 46px;
    margin-bottom: 65px;
}
.content_slide .slide_text > .btn{
    width:198px;
    height:48px;
    border:1px solid #000;
}
.content_slide .slide_text > .btn > a{
    display: block;
    text-align: center;
    line-height: 48px;
    color:#111;
}

/* content_slide bx-slide */

.content_slide .bx-wrapper { 
    box-shadow: none;
    border:none;
    background-color: none;
}
.content_slide .bx-viewport{
    height:0;
}
.content_slide .bx-wrapper .bx-pager {
    display: none;
}
.content_slide .bx-wrapper .bx-controls-direction a.bx-prev {
    width:33px;
    height:52px;
    background:url('../images/btn_slide_left.gif') no-repeat 50% 50%;
    background-color:#fff;
    position: absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
}
.content_slide .bx-wrapper .bx-controls-direction a.bx-next{
    width:33px;
    height:52px;
    background:url('../images/btn_slide_right.gif') no-repeat 50% 50%;
    background-color:#fff;
    position: absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 50;
}



/****** contents grobal_business ******/
.contents .grobal_business{
    width:100%;
    overflow:hidden;
}
.grobal_business .business{
    width:50%; /* 960px; */
    float:left;
}
.grobal_business .business img {
    width:100%;
}
.grobal_business .business .text{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    height:113px;
}
.grobal_business .grobal .text{border-right:0;}
.grobal_business .business .text > h4{
    width:837px;
    font-family: 'NanumSquare', sans-serif;
    position: absolute;
    top:50%;
    left:5%;
    transform:translateY(-50%);
    font-weight:400;
    color:000;    
}
/****** .contents .sponsorship_info ******/

.contents .sponsorship_info{
    max-width:100%;/* 91.145833%;  1750px; */ 
    margin:90px auto;
    overflow:hidden;
  /*   padding:0 15px; */
}
.contents .sponsorship_info h3{
    font-size:25px;
    font-weight:600;
    color:#333;
    margin-bottom:30px;
}
.contents .sponsorship_info strong{
    font-size:53px;
    font-weight:600;
}
.sponsorship_info .ars strong{
    color:#eb6100;
}
.contents .sponsorship_info .number_all{
    float:left;
    overflow: hidden;
    width:58%;
    padding: 0 65px;
    box-sizing: border-box;
}
.sponsorship_info .ars > *, .inquiry > * {display:block;}
.sponsorship_info .ars{
    width:  45%;/* 370px;  */
    float:left;
    box-sizing: border-box;
}
.sponsorship_info .ars span{
    font-size: 12px;
    font-weight: 400;
    color: #eb6100;
    margin-top: 22px; 
}
.sponsorship_info .ars p{
    font-size: 16px;
    margin-top: 30px;
    color:#111;
    font-weight: 400;
    margin-top:30px;
}
.sponsorship_info .inquiry{
    width: 55%; /*  410px; */ 
    float:right;
    box-sizing: border-box;
}
.sponsorship_info .inquiry strong{
    color:#144199;
}
.sponsorship_info .inquiry span{
    font-size: 16px;
    color: #111;
    margin: 30px 0 15px 0;
}
.sponsorship_info .inquiry p{
    font-size: 16px;
    color:#555;
    font-weight: 400;
}
.sponsorship_info .inquiry p > img{
    display:inline-block;
    margin-right:20px;
}
.sponsorship_info .support_give{
    float:left;
    width:42%; /* 723px; */
    /*padding:0 2.3% 0 3.1%; 0 72px 0 165px; */
    padding:0 15px;
    box-sizing: border-box;
}
.sponsorship_info .support_give .btn > *{}
.sponsorship_info .support_give .btn {
    font-size: 0; 
}
.sponsorship_info .support_give .btn > a {
    display: inline-block;
    width:22.980501%; /* 165px/718 */ 
    height:22.980501%; /* 106px; */
    margin-right:14px;
}
.sponsorship_info .support_give .btn > a:last-child  {
    margin-right: 0;
}
.sponsorship_info .support_give .btn > a > span{
    font-size: 16px;
    display: block;
    text-align: center;
    padding:44px 0;
}
.sponsorship_info .support_give .btn > a:nth-child(1) {
    color:#eb6100;
    border:2px solid #eb6100;
}
.sponsorship_info .support_give .btn > a:nth-child(2) {
    color:#144199;
    border:2px solid #141414;
}
.sponsorship_info .support_give .btn > a:nth-child(n+3) {
    color:#666;
    border:1px solid #666;
}
/* hover */
.sponsorship_info .support_give .btn > a:hover{ color:#fff;}
.sponsorship_info .support_give .btn > a:nth-child(1):hover { background-color: #eb6100 ;}
.sponsorship_info .support_give .btn > a:nth-child(2):hover { background-color: #144199; }
.sponsorship_info .support_give .btn > a:nth-child(n+3):hover { background-color: #aaa; }

/****** contents sns *****/
.contents .sns{ margin-bottom:60px;}
.sns ul.box_sns{ overflow: hidden;}
.sns ul.box_sns > li{
    width: 23.4375% ;/* 450px; */
    padding-top: 23.4375%;
    margin:0 0.78125%; /* 15px; */
    float:left;
    position: relative;
}
.sns ul.box_sns > li:nth-of-type(1){
    background-color:#144199;
}
.sns ul.box_sns > li:nth-of-type(3){
    background-color:#2db400;
}
.sns ul.box_sns > li > a .logo{
    width:55px;
    height:55px;
    position:absolute;
    left:0;
    top:0;
    z-index: 50;
}
.sns .gp_group {
    width:70%; /* 315px; */
    margin:0 auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.sns ul.box_sns > li h4{
    font-size: 22px;
    color:#fff;
    margin-bottom: 45px;
}
.sns ul.box_sns > li p{
    font-size:14px;
    color:#fff;
    line-height: 26px;
    height:130px;
    overflow: auto;
    margin-bottom: 26px;
}
.sns ul.box_sns > li .btn{
    width:99.047619%; /* 312px; */
    height: 40px;
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    line-height: 38px;
    text-align: center; 
    border:1px solid #fff;
  
}
.sns ul.box_sns > li:nth-of-type(1) .btn:hover{
    background-color: #fff;
    color: #144199;
}
.sns ul.box_sns > li:nth-of-type(3) .btn:hover{
    color:#2db400;
    background-color: #fff;
}
.sns ul.box_sns > li .sns_img{
    width:100%;
    position: absolute;
    left:0;
    top:0;
}
/* scroll_line jquery */
.sns .mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
/****** nav_bottom  open_close ******/
.open_close{
    height: 68px;
    border-top:1px solid #aaa;
    border-bottom: 1px solid #aaa;
    position: relative;
}
.open_close span.open_text{
    display:block;
    text-align: center;
    font-size: 16px;
    color: #555;
    padding: 25px 35px 24px 0;
    
}
.open_close span.open_text:after{
    position: absolute;
    top: 50%;
    padding-left:30px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #f5a100;
    margin-top: -8px;
    line-height: 16px;
    font-family: 'fontello';   
}
.open_close span:nth-child(1).open_text:after{
    content: '\f13a';
}
.open_close span:nth-child(2).open_text:after{
    content: '\f139';
}

/******************** footer ********************/
footer{
     background-color: #f3f5fa;
     /* height:418px; */
 }
footer .inner01{
    /* width: 1791px; */
    margin:0 auto;
    padding:60px 15px 40px 15px;
    box-sizing: border-box;    
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
footer .inner01 .company{ 
    float:left;
    width:60%;
}
footer .inner01 .company h3{ 
    color: #111;
    font-weight: 500;
    margin-bottom: 20px;
}
footer .inner01 .company ul{ 
    overflow: hidden;
}
footer .inner01 .company ul > li {
    float:left;
    font-size: 14px;
    line-height: 26px;
    position: relative;
}
footer .inner01 .company ul > li:after {
    content: '';
    width:1px;
    height: 10px;
    position: absolute;    
    margin: 9px 10px;
    background-color: #aaa;
}
footer .inner01 .company ul > li:last-child:after {
    display: none;
}
footer .inner01 .company ul > li + li{
    margin-left: 20px;
}
footer .inner01 .company ul > li > *{ 
    display:inline-block;
}
footer .inner01 .company ul > li > dl{
    overflow: hidden;
}
footer .inner01 .company ul > li > dl > dt{
    float:left;
    position: relative;
}
footer .inner01 .company ul > li > dl > dt:after{
    content: ':';
    display: inline-block;
    position: absolute;
    margin:0 5px 0 5px;
}
footer .inner01 .company ul > li > dl > dd{
    float:left;
    margin-left:12px;
}
footer .inner01 .company address { font-style: normal;}
footer .inner01 .news_letter{
    float: right;
    width: 40%;
    overflow: hidden;
    position: relative;
}
footer .inner01 .letter {  
    width:230px;
    float:left;
}
footer .inner01 .letter p{
    font-size: 14px;
    color: #999;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom:38px;
}
.news_letter .email { position: relative;}
.news_letter .email input{
    width:100%;
    height: 50px;
    border: 1px solid #f3f5fa;
    background-color: #f3f5fa;
    border-bottom: 1px solid #000;
}
.news_letter .e_mail_btn{
    position: absolute;
    right:0;
    top:10px;
    font-size: 22px;
    color:#111;
    cursor: pointer;
    border:0;
    border-radius: 0;
    background-color:#f3f5fa;
}
footer .inner01 .information{
    float:right;                                             
    width:250px;
    position: absolute;
    bottom: 0;
    right: 30px;
}
.inner01 .information > ul{ 
    text-align:center;
}
.inner01 .information > ul >li{
    display:inline-block;
 }
.inner01 .information > ul >li{
    background-repeat: no-repeat;
    vertical-align: top;
}
.inner01 .information > ul > li:nth-child(1){background-image: url(../images/icon_sns01.png);}
.inner01 .information > ul > li:nth-child(2){background-image: url(../images/icon_sns02.png);}
.inner01 .information > ul > li:nth-child(3){background-image: url(../images/icon_sns03.png);}
.inner01 .information > ul >li > a { 
    width:46px;
    height: 46px;
    display: block;
}
.inner01 .family_site {
    margin-top:20px;
}
.inner01 .family_site > button{
     width:250px;
     padding:0 20px;
     line-height: 50px;
     background-color:#fff;s
     color:#666;
     font-size:15px;
     border:none;
     border-radius: 0;
     cursor: pointer;
     text-align:left;
     position: relative;
}
.inner01 .family_site > button:after{
    content: '\e801';
    font-family: 'fontello';
    font-size: 13px;
    position: absolute;
    right:20px;
    bottom:3px;
    color:#666;
}
footer .inner02{
     padding: 40px 15px 130px 15px;
     /* width:1791px; */
     margin:0 auto;
     overflow: hidden;
     box-sizing:border-box;
 }
footer .inner02 ul{overflow: hidden;}
footer .inner02 ul > li {
     float:left;
     margin-right: 15px;
 }
footer .inner02 ul > li > a{
     font-size: 14px;
     font-weight: 400;
     color:#666;
}
footer .inner02 li.bold > a{
    font-weight: 600;
    color:#333;
}
footer .inner02 p{
    margin-top:22px;
}
.inner02 .copyright{
    float:left;
}
.inner02 .partners{
    float:right;
}
.inner02 .partners > span{
    display:inline-block;
    margin-right: 45px;
}
.inner02 .partners > span + span{
    margin-right: 45px;
}

/********************* 모바일 nav *********************/

/* open_btn*/
.open_bar{
    position: fixed;
    top:0;
    right:0;
    /* height:80px; */
    z-index:100;
}
.open_bar>.bar_btn{
    width:80px;
    height:80px;
    padding:0 18px;
    background-color: #eb6100;
    cursor: pointer;  
    border: none;
}
.open_bar>.bar_btn > span {
    width: 42px;
    height: 3px;
    background-color:#fff;
    margin: 8px auto;
    display: block;
    border-radius:10px;
}
.open_bar >.bar_btn > span:nth-of-type(2){ width:32px; margin-left:10px; }
.mobile_gnb{display: none;}
.open_bar { display:none;}
.mobile_gnb.open{
    display:block;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:100%;
    background-color:rgba(0, 0, 0, 0.7);
}
.mobile_gnb.open >.mb_nav{
    width:580px;
    height: auto;
    position:fixed;
    top:0;
    right:0;
    height: 100%;
    background-color:#144199;
    padding-top:18px;
}
.mobile_gnb .mb_nav .gnb_inner{
    height: 100%;
    background-color:#fff;
}
.mobile_gnb .mb_nav .btn{
    height: 62px;
    background-color: #144199;
}

.mobile_gnb .mb_nav  div > a{
    width: 120px;
    display:block;
    line-height: 45px;
    font-size: 15px;
    margin-left: 23px;
    color: #fff;
    background-color:#eb6100;
    font-weight: 300;
    text-align:center;
}
.mobile_gnb .mb_nav .mb_member {
    width:100%;
    height: 90px;
    border-top:1px solid #7791c4;
    background-color: #144199;
}
.mobile_gnb .mb_nav .mb_member > li{
    display:inline-block;
    width: 32.7%;
    text-align: center;
}
.mobile_gnb .mb_nav .mb_member > li:nth-of-type(n+2){
    border-left:1px solid #7791c4;
}
.mobile_gnb .mb_nav .mb_member > li > a{
    font-size:20px;
    line-height:90px;
    color:#fff;
    font-weight: 300;
}
.mobile_gnb .mb_nav .nav_list{
    background-color:#fff;
    width: 580px;  
}
.mobile_gnb .mb_nav .nav_list > li{
   border-bottom: 1px solid #ccc;
}
.mobile_gnb .mb_nav .nav_list > li > a {
    display: block; 
    padding: 0 50px; 
    line-height: 70px; 
    font-size: 18px;
    color: #111; 
}
.mobile_gnb .mb_nav .mb_bottom{
    width:100%;
    padding:50px 20px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

.mobile_gnb .mb_nav .family_site{ 
    width:58%;
    float:left;
}
.mobile_gnb .mb_nav .family_site > button {
    width:100%;
    padding:0 20px;
    text-align: left;
    line-height: 50px;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color:#fff;
    position: relative;
}
.mobile_gnb .mb_nav .family_site > button:after{
   content: '\e801';
   font-family: 'fontello';
   font-size: 13px;
   position: absolute;
   right:20px;
   bottom:3px;
   color:#666;
}
.mobile_gnb .mb_nav .mb_bottom ul{ 
    float:left;
    width:37.9%;
    padding:3px 20px 3px 0;
    text-align:right;  
    font-size:0;
    border:1px solid red;
}
.mobile_gnb .mb_nav .mb_bottom ul > li{
    display:inline-block;
    vertical-align: top;
 }
.mobile_gnb .mb_nav .mb_bottom ul > li+li{
    margin-left:10px;
}
.mobile_gnb .mb_nav .mb_bottom ul > li > a { 
    width:46px;
    height: 46px;
    display: block;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size:46px auto;

}
.mobile_gnb .mb_nav .mb_bottom ul > li:nth-child(1) > a {background-image: url(../images/icon_sns01.png);}
.mobile_gnb .mb_nav .mb_bottom ul > li:nth-child(2) > a {background-image: url(../images/icon_sns02.png);}
.mobile_gnb .mb_nav .mb_bottom ul > li:nth-child(3) > a {background-image: url(../images/icon_sns03.png);}

.mobile_gnb .mb_nav .mb_bottom ul > li:nth-child(1):hover > a {background-image: url(../images/icon_sns01_on.png);}
.mobile_gnb .mb_nav .mb_bottom ul > li:nth-child(2):hover > a {background-image: url(../images/icon_sns02_on.png);}
.mobile_gnb .mb_nav .mb_bottom ul > li:nth-child(3):hover > a {background-image: url(../images/icon_sns03_on.png);}

/* close_btn */
/* .close_bar{ display:none; } */
.close_bar > .bar_btn {
    background-color:#144199; 
    position: relative;
}
.close_bar > .bar_btn > span:nth-of-type(1) { 
    position: absolute;
    top: 29px;
    transform: rotate(-45deg);
}
.close_bar > .bar_btn > span:nth-of-type(2) { 
    display: none;
 }
.close_bar > .bar_btn > span:nth-of-type(3) { 
    position: absolute;
    bottom: 33px;
    transform: rotate(45deg);
}

/******************************** */

/* top_fixed */
.drop_down{
    position: fixed;
    left:0;
    bottom:0;
    border-top: 2px solid #eb6100;
    width:100%;  
    z-index: 300; 
    background-color: #f3f5fa;
}
.drop_down > .drop_inner{
    max-width:1170px;
    margin:0 auto;
    position: relative;
}
.drop_down .btn_fix{
    position: absolute;
    left:0;
    /* left:50%;
    margin-left:-585px; */
    bottom:0;
}
.drop_down .btn_fix span{
    display:block;
    width:72px;
    height: 72px;
    padding:18px 0;
    background-color: #eb6100;
    color:#fff;
    font-size:16px;
    text-align:center;
    box-sizing: border-box;
}
.drop_down .btn_fix span:after{
    display: block;
    font-family: 'fontello';
    margin:5px auto 0;
}
.drop_down .btn_fix span.close:after{
    content: '\f107';
}
.drop_down .btn_fix span.close{ display:block;}
.drop_down .btn_fix span.open{ display:none;}
.drop_down .btn_fix.on span.close{ display:none;}
.drop_down .btn_fix.on span.open{ display:block;}
.drop_down .btn_fix span.open:after{
    content: '\f106';
}
.drop_down .spon_list{
    width:100%;
}
.drop_down .spon_list > div{
    height: 72px;
    max-width: 1170px;
    padding:0 72px;
    box-sizing: border-box;
}
.drop_down .spon_list > div.close{
height: 0;
transition:all 0.5s ease; 
}
.drop_down .spon_list > *{display:block;}
.drop_down .spon_list ul{ 
    overflow: hidden;
    width: 100%;
}
.drop_down .spon_list ul > li {
    float:left;
    width:25%; 
    border-right: 1px solid #dfdfdf; 
    box-sizing: border-box;
    text-align: center;
}    
.drop_down .spon_list ul > li > a{
    display: inline-block;
    padding-left:30px;
    height: 72px;
    line-height: 72px;
    font-size: 16px;
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: 0 50%; 
    text-align: center;
}

.drop_down .spon_list ul > li > a:hover{
    color:#eb6100;
}
.drop_down .spon_list ul > li:nth-child(1) > a{background-image: url('../images/icon_quick01.png');}
.drop_down .spon_list ul > li:nth-child(2) > a{background-image: url('../images/icon_quick02.png');}
.drop_down .spon_list ul > li:nth-child(3) > a{background-image: url('../images/icon_quick03.png');}
.drop_down .spon_list ul > li:nth-child(4) > a{background-image: url('../images/icon_quick04.png');}

.drop_down .spon_list ul > li:nth-child(1):hover > a{background-image: url('../images/icon_on_quick01.png');}
.drop_down .spon_list ul > li:nth-child(2):hover > a{background-image: url('../images/icon_on_quick02.png');}
.drop_down .spon_list ul > li:nth-child(3):hover > a{background-image: url('../images/icon_on_quick03.png');}
.drop_down .spon_list ul > li:nth-child(4):hover > a{background-image: url('../images/icon_on_quick04.png');}
.drop_down .top_btn {
    position: absolute;
    right:0;
    /* right:50%;
    margin-right:-585px; */
    bottom:0;
    border-right: 1px solid #dfdfdf;
}
.drop_down .top_btn.opened{display: none;}
.drop_down .top_btn >  span{
    display:block;
    width:72px;
    height: 72px;
    text-align: center;
    background-color: #f3f5fa;
}
.drop_down  .top_btn > span > a:before{
    content: '\e806'; 
    font-family: 'fontello';
    display: block;
    margin: 0 auto 5px;
}
.drop_down  .top_btn > span > a {
    display:block;
    font-size:15px;
    color:#144199;
    font-weight:bold;
    border-left:1px solid #dfdfdf;
    font-family: 'Roboto', sans-serif;
    padding:15px 0;
}

/* 1920px 이하 */

@media screen and (max-width: 1920px) {
.m_bar { display: none;}
.circle_sns{display: none;}

}

@media screen and (max-width: 1700px) {
.contents .sponsorship_info .number_all { padding: 0 30px;}
.sponsorship_info .ars strong,.sponsorship_info .inquiry strong {
    letter-spacing: -1.7px;
    font-size: 45px;
}
.sponsorship_info .support_give .btn > a {
    display: inline-block;
    margin-right:7px;
}
footer .inner01 .mob_address { display:none;}
}


/* 1400px 이하 */
@media screen and (max-width: 1400px) {
.gnb > ul > li{  float: left; } 
.gnb > ul > li > a{padding:0 10px;}
footer .inner01 .company {
    width:55%;
}
footer .inner01 .news_letter {
    width:45%;
}

}
/* 1200px 이하 */
@media screen  and (max-width: 1200px) {

header{height: 80px;}
header > h1{ padding: 5px 25px;}
nav.gnb{ display: none; }

.open_bar{ display: block;}
.m_bar { display: none; z-index: 200;} 

.slide_main { margin-top:80px;}
.slide_main > .slide { height:720px;}
.slide_main .text{ position:static;  display: block; text-align: center; padding-top:128px; }
.slide_main .prev,.slide_main .next { display:none;}


.contents .report ul > li > a:after { display: none; } 
.contents .report ul > li:hover {border-bottom:none;}
.contents .report ul > li { padding:25px 0; }
.contents .report ul > li > a > p{
    display: block;
    margin: 0 auto;
}
.contents .report ul > li span { 
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}
.campaign .inner { padding: 40px 0;}
.campaign h3 { font-size: 23px; margin-bottom: 20px;}
.campaign ul > li { width: 50%;  padding: 0 30px;  box-sizing:border-box; margin-bottom: 20px;}
.campaign .child_support h4 { font-size: 16px; color:#111;}
.campaign .child_support {
    height: 35px;
    padding: 30px 0 20px;
}
.campaign .going_img p { width:70px; padding:10px 0; font-size: 12px;}

.contents .content_slide {
    padding:0 15px;
    margin: 20px 0;
}
.contents .content_slide .campaign_review{
     height:310px;
     background-position: 50% 50%;
}
.contents .sponsorship_info{ margin:90px 0 30px 0;}
.contents .sponsorship_info .number_all { width:100%; margin-bottom: 60px;}
.sponsorship_info .inquiry span {display: none;}
.sponsorship_info .support_give { width:100%; }
.sponsorship_info .support_give .btn {display: block; text-align: center;}
.sponsorship_info .inquiry p > img {display: block; margin-top:30px; margin-bottom: 17px;}
.sponsorship_info .support_give .btn > a { margin-right: 15px;}

.contents .sns { margin-bottom: 30px;}
.sns ul.box_sns > li h4 {display: none;}
.sns ul.box_sns > li p {   
    font-size: 13px;
    line-height: 24px;
}
.sns .gp_group { height: 50%;}
.sns ul.box_sns > li .btn{
    height: 35px;
    line-height: 33px;
}
.sns ul.box_sns > li p{ margin-bottom: 18px; }

footer{ padding-bottom: 97px;}
footer .inner01 .company { width:100%; }
footer .inner01  h3 { font-size: 14px; margin-bottom: 10px;}
footer .inner01 .company ul > li { font-size: 13px; line-height:24px ;}
footer .inner01 .information {display: none;}
footer .inner01 .news_letter { width: 100%;}
footer .inner01 .letter { margin-top:40px; width:100%; }
footer .inner01 .letter p {
    font-size: 11px;
    color: #999;
    line-height: 25px;
    margin: 10px 0 0;
}
.news_letter .email input { height:38px; margin-bottom: 10px;}
.news_letter .e_mail_btn { font-size: 14px;}

.inner02 .partners {display: none;}
footer .inner02 { padding-top:10px; }
footer .inner02 ul > li > a { font-size: 13px; }
footer .inner02 li.bold > a { color:#666; }
footer .inner02 p {
    font-size: 13px;
    margin-top:10px;
}
.drop_down > .drop_inner {}

.drop_down .spon_list ul > li {
    width:33.3%;
}
.drop_down .spon_list > ul > li > a {
    background-position: 35% 50%;
}

}
/* 960px 이하 */
@media screen and (max-width:960px){
.grobal_business .business{width:100%;}
.grobal_business .business .text > h4 {
    width:100%;
    left:0;
    text-align:center;
}
.grobal_business .business .text {
    border:0;
    background-color:#f3f5fa;
}
.grobal_business .internal{ display:none;}

.contents .sns{ padding:0 10px;}
.sns ul.box_sns > li {
    width:47.8%; /* 450px; */
    margin:1.041666%; /* 10px; */
    padding-top:47.8%;
}
.sns .gp_group{ height:65%; }
.sns ul.box_sns > li p {height:200px;}

}

/* 768px 이하 */
@media screen and (max-width:768px){
header{ height:55px;}
header > h1 { width:67px; padding:6px;}
header img{ width:100%; }

.slide_main { margin-top:0; }
.slide_main > .slide { height:420px;}    
.slide_main .slide span { font-size: 13px; margin-bottom:15px;}
.slide_main strong { font-size:26px ; margin-bottom:30px;}   
.slide_main p { font-size: 12px; line-height: 22px; margin-bottom:30px;}
.slide_main p.btn > a {width:120px; margin-top:0; font-size: 13px; padding:0; line-height: 33px; font-weight: 400;}
.slide_main .circle_btn li > a { width: 15px; height:15px; margin:0 5px;}

.contents .report ul > li { padding: 20px 0; }
.contents .report ul > li+li:before { display:none;} 
.contents .report ul > li span { font-size:13px; margin-top:10px;} 

.campaign .inner { padding: 40px 0;}
.campaign h3 { font-size: 23px; margin-bottom: 20px;}
.campaign ul > li { width: 100%;  padding: 0 30px; box-sizing: border-box; margin-bottom: 10px;}
.campaign .child_support h4 { font-size: 16px; color:#111;}
.campaign .child_support {
    height: 35px;
    padding: 30px 0 20px;                                               
}
.campaign .going_img p { width:70px; padding:10px 0; font-size: 12px;}

.contents .gp_news div{ width: 100%; }
.contents .gp_news div.news_02{ display: none; }
.contents .gp_news div.news_03{ display: none; }
.contents .gp_news div > .btn { left:20px; width:85px; top:410px; font-size: 12px;}
.contents .gp_news div > .news_text{ left:20px;  top:465px; font-size: 16px;}

.contents .content_slide .campaign_review {
    height: 180px;
    background-position: 100% 50%;
    background-size: cover;
}    
.content_slide .slide_text { 
    width:100%;
    margin:0;
    display:block;
    color: #111;
    font-weight: 400;
    font-family: 'NanumSquare', sans-serif;
    text-align: center;
}
.content_slide .slide_text > span {
    font-size: 13px;                 
    margin-bottom: 15px;
}
.content_slide .slide_text > p {                                   
    line-height: 22px;
    margin-bottom: 20px;
}
.content_slide .slide_text > .btn {
    width: 120px;
    height:35px;            
    margin:0 auto;
    border: 1px solid #111;
}
.content_slide .slide_text > .btn > a {
    font-size:13px;
    line-height: 35px;                                                                                                                         
}

.contents .sponsorship_info h3 {font-size: 18px; margin-bottom:15px;}
.sponsorship_info .ars strong,.sponsorship_info .inquiry strong {
    font-size: 16px;
    letter-spacing: -0.5px;
}
.sponsorship_info .ars span {margin-top:10px;}
.sponsorship_info .ars p , .sponsorship_info .inquiry p  {
    font-size: 12px;
    color: #111;
    font-weight: 400;
    margin-top: 10px;
}
.sponsorship_info .inquiry p > img { margin-top:10px; margin-bottom: 10px;}
.sponsorship_info .support_give .btn{font-size: 13px;}
.sponsorship_info .support_give .btn > a { margin-right: 0; width:48%; padding: 15px 0; display:inline-block;}
.sponsorship_info .support_give .btn > a:nth-child(even){ margin-left:2%;}
.sponsorship_info .support_give .btn > a:nth-of-type(n+3){margin-top:10px;}
.sponsorship_info .support_give .btn > a > span {
    font-size: 13px;
    padding: 0;  
    display: inline-block; 
}
.sponsorship_info .support_give .btn > a:nth-child(1) { background-color:#eb6100; color:#fff;}
.sponsorship_info .support_give .btn > a:nth-child(2) { border:1px solid #144199; background-color:#144199; color:#fff;}
.sponsorship_info .support_give .btn > a:nth-of-type(n+3):hover{background-color:#fff ; color:#666;}

.sns ul.box_sns{ display: none;}
.sns ul.circle_sns{overflow: hidden; display: block; }
.sns ul.circle_sns > li{
    float:left;
    /*padding:0 8.032128% ;  60px; */
    width:25% ; /* 60px; */
    text-align: center;
}
.sns ul.circle_sns img{ border-radius: 50%;}

footer .inner01 { padding-top:25px;}
footer .inner01 .letter { margin-top:10px;}
.news_letter .email input {font-size:11px; }
footer .inner01 h3 { font-size:12px ;}
footer .inner01 .company { display: none; }
footer .inner01 .mob_address{ display:block; width:100%; }
footer .inner01 .mob_address li{ display:inline-block; position: relative;}
footer .inner01 .mob_address li + li{margin-left: 3px;}
footer .inner01 .mob_address li > a {font-size:11px; color:#555;}
footer .inner01 .mob_address li + li > a:before{
    content: '';
    width: 1px;
    height: 12px;
    position: absolute;
    margin: 4px -3px;
    background-color: #aaa;
}
footer .inner02 ul > li:nth-child(1),footer .inner02 ul > li.bold{ display: none;} 
footer .inner02 ul > li > a {font-size:11px;}
footer .inner02 p { font-size: 11px; }

.open_bar>.bar_btn { padding:0 14px;}
.close_bar > .bar_btn { width:60px; height:73px;}
.close_bar > .bar_btn > span { width: 30px; }
.close_bar > .bar_btn > span:nth-of-type(1) { top:23px; }
.close_bar > .bar_btn > span:nth-of-type(3) { top:22px; }
.mobile_gnb .mb_nav{ width:270px; }
.mobile_gnb .mb_nav .btn { height: 55px;}
.mobile_gnb .mb_nav div > a { width:85px; line-height:35px; margin-left: 10px; font-size: 13px; font-weight: 300;}
.mobile_gnb .mb_nav .mb_member{ height: 50px;}
.mobile_gnb .mb_nav .mb_member > li { width: 32.1%;}
.mobile_gnb .mb_nav .mb_member > li > a { font-size:14px; line-height: 50px;}
.mobile_gnb .mb_nav .nav_list > li > a { padding: 0 20px; font-size: 14px; line-height: 55px;}
.mobile_gnb .mb_nav .family_site { width:100%;}
.mobile_gnb .mb_nav .mb_bottom ul { width: 100%;  margin-top: 20px; text-align:center;}   

.drop_down > .drop_inner{ height: 52px;}
.drop_down .btn_fix > span {
    width:52px; 
    height: 52px;
    font-size: 13px;
    padding:14px 0;
}
.drop_down .btn_fix > span:after {
    margin:2px auto 0;
}
.drop_down .spon_list > div { padding: 0 0 0 52px;}
.drop_down .spon_list > ul > li {
    width:33.3%;
}
.drop_down .spon_list ul > li > a {
    font-size: 13px;
    background-position: 50% 15%;
    padding:5px 0;
    background-size: 15px;
}
.drop_down .top_btn {
    right: inherit;
    left:0;
    bottom:54px;
}
.drop_down .top_btn > span {
    width:52px;
    height: 52px;
    background-color: #144199;
}
.drop_down .top_btn > span > a {
    color:#fff;
    padding:8px 0;
}
.drop_down .top_btn > span > a:before {
    margin:0 auto;
}
.drop_down .btn_fix span { font-size:13px; padding:14px 0;}
 }  

/* 421이하 */
@media screen and (max-width: 421px) {

.contents .report ul >li  i { display:block;}
.open_bar>.bar_btn {
    width: 60px;
    height: 55px;
}
.open_bar>.bar_btn > span { width: 30px;}
.open_bar >.bar_btn > span:nth-of-type(2) { width:22px; margin-left:8px;}
.contents .sponsorship_info .number_all { padding: 0 8px; }
.sponsorship_info .ars {margin-left: 5px;}
.sponsorship_info .support_give .btn > a {width:45%;}
.drop_down .btn_fix span { width:52px; height:52px;}
footer .inner02 { padding: 40px 15px 15px 15px; }

}